body {
  font-family: "Poppins", sans-serif;
}

.hero-banner {
  background-image: url("../assets/img/bg_header.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
  overflow: hidden;

  .title-hero {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.btn-danger {
  padding-inline: 40px;
  text-wrap: nowrap;
  padding-block: 12px;
  font-size: 14px;
  background-color: #ca1b2d;
  color: white;
  margin-right: 3%;
}

.btn-light {
  padding-inline: 40px;
  text-wrap: nowrap;
  padding-block: 12px;
  font-size: 14px;
  background-color: #eeeeee;
  margin-right: 3%;
}

.btn-danger:hover {
  background-color: #0055b8;
  transition-duration: 500ms;
}

// Mobile Device
@media (max-width: 575.98px) {
  .hero-banner {
    height: 450px;

    .title-hero {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      color: white;
    }
  }

  .btn-danger {
    padding-inline: 20px;
    text-wrap: nowrap;
    padding-block: 12px;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
  }

  .btn-light {
    padding-inline: 20px;
    text-wrap: nowrap;
    padding-block: 12px;
    font-size: 14px;
  }

  .btn-danger:hover {
    background-color: #0055b8;
    transition-duration: 500ms;
  }
}
