.swiper {
  height: calc(100vh - 125px);
  overflow: hidden;

  .swiper-slide {
    background-position: center;
    background-size: cover;

    .logo-bumn-hero {
      position: absolute;
      width: 17%;
      height: auto;
    }

    .hero-title {
      padding-inline: 25%;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 18px;
    }

    .hero-text {
      padding-inline: 25%;
      color: #575757;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.8;
    }

    img.img-slide-1 {
      width: 70%;
      margin-top: 30px;
      margin-left: 15px;
    }
  }
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

// Mobile Device
@media (max-width: 575.98px) {
  .swiper {
    height: 300px;

    .swiper-slide {
      .logo-bumn-hero {
        width: 40%;
      }

      .hero-title {
        padding-inline: 10%;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 15px;
        max-width: 90%;
      }

      .hero-text {
        padding-inline: 10%;
        font-size: 13px;
        line-height: 1.4;
        max-width: 90%;
      }
    }
  }
}
