.swiper {
  width: 100%;
  height: 700px;
  // top: 100px;

  .swiper-slide {
    background-position: center;
    background-size: cover;

    .hero-title {
      padding-inline: 15%;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 18px;
    }

    .hero-text {
      padding-inline: 15%;
      color: #575757;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.8;
    }
  }
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

// Mobile Device
@media (max-width: 575.98px) {
  .swiper {
    height: 500px;

    .swiper-slide {
      .hero-title {
        padding-inline: 10%;
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 15px;
      }

      .hero-text {
        padding-inline: 10%;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
}
