.hero-banner-categories {
  padding-block: 120px;
  background-color: #cae7f5;

  .hero-title {
    padding-inline: 5%;

    h2 {
      font-weight: 600;
      letter-spacing: 0.16px;
      word-wrap: break-word;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 35px;
      width: 90%;
      text-align: justify;
    }

    .divider {
      width: 200px;
      border: 2.5px #a4d6ff solid;
      border-radius: 50px;
      margin-block: 15px;
    }
  }

  .hero-image {
    .img-hero-categories {
      width: 90%;
    }
  }
}

.categories-section {
  padding-block: 80px;

  .categories-filter {
    .sticky-offset {
      top: 150px;
    }

    .navbar-brand {
      margin-bottom: 35px;
    }

    .card {
      border: 0.1px #e1e1e1 solid;
      border-radius: 10px;

      .card-title {
        color: #999999;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.07px;
        word-wrap: break-word;
      }
    }

    .form-select {
      font-size: 14px;
    }

    .form-control:focus,
    .form-select:focus {
      box-shadow: none;
      border: 0.2px #e1e1e1 solid;
    }

    .form-control::placeholder {
      font-size: 12px;
      color: #999999;
      font-weight: 300;
    }

    .input-group-text {
      background-color: transparent;
    }
  }

  .categories-container {
    padding-inline: 20px;

    .divider {
      margin-block: 60px;
    }
  }
}

// Mobile Device
@media (max-width: 575.98px) {
  .hero-banner-categories {
    padding-block: 60px;

    .hero-title {
      order: 2;
      padding-inline: 10%;

      h2 {
        letter-spacing: 0;
      }

      p {
        font-size: 15px;
        width: 100%;
        line-height: 28px;
      }

      .divider {
        width: 150px;
        margin-block: 10px;
      }
    }

    .hero-image {
      margin-bottom: 30px;

      .img-hero-categories {
        width: 80%;
      }
    }
  }

  .categories-section {
    padding-block: 40px;

    .categories-filter {
      padding-inline: 5%;

      .navbar-brand {
        margin-bottom: 25px;
      }

      .card {
        border-radius: 8px;

        .card-title {
          font-size: 15px;
        }
      }

      .form-select {
        font-size: 14px;
      }

      .form-control:focus,
      .form-select:focus {
        box-shadow: none;
        border: 0.2px #e1e1e1 solid;
      }

      .form-control::placeholder {
        font-size: 12px;
        color: #999999;
        font-weight: 300;
      }

      .input-group-text {
        background-color: transparent;
      }
    }

    .categories-container {
      padding-inline: 5%;

      .divider {
        margin-block: 30px;
      }
    }
  }
}
