.hero-banner {
  margin-bottom: 30px;
  .title-hero {
    font-size: 50px;
    line-height: 1em;
  }
}

.guide-container {
  // background-color: aqua;
  padding-inline: 5%;

  .guide {
    padding-block: 30px;
    padding-inline: 5%;

    .title-guide {
      font-size: 35px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 30px;
    }

    .badge-guide {
      width: 90%;
      max-width: 320px;
    }

    .card-guide {
      padding-inline: 5%;
      padding-block: 20px;
      background-color: rgb(248, 248, 248);
      border-radius: 20px;

      .img-guide {
        width: 100%;
      }

      .text-guide {
        font-size: 18px;
        line-height: 1.5em;
        color: #4f4f4f;
      }
    }
  }
}

// Mobile Device
@media (max-width: 575.98px) {
  .hero-banner {
    .title-hero {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  .guide-container {
    .guide {
      padding: 20px;

      .title-guide {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
      }

      .card-guide {
        padding-inline: 20px;

        .img-guide {
          margin-bottom: 5px;
          width: 85%;
        }

        .text-guide {
          font-size: 16px;
          margin-bottom: 10px;
          text-align: center;
          line-height: 1.2em;
        }
      }
    }
  }
}
